@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    <br />
    <br/>
    <h1 class="display-4">Welcome</h1>
    <h3>
        Publish your passions, your way
        Create a unique and beautiful blog easily.
    </h3>
    <div>
        <button type="button" asp-action="Create" class="btn btn-outline-light "><a asp-action="CreatePost" class="text-dark">Create Blog Post</a></button>
    </div>
</div>
